<div class="container">
  <header>
    <a href="http://www.ponpesit.com/" class="logo">
      <img src="http://www.ponpesit.com/images/logo-DS.png" alt="Logo" />
    </a>
    <nav>
      <ul>
        <li>
          <a
            href="#"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            Home
          </a>
        </li>
        <li>
          <a
            href="#"
            routerLink="/users"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
          >
            Users
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
